button{
    background-color: rgb(230, 99, 164);
    font-family: fantasy;
    border-radius: 21%;
    font-size: xx-large;
    border: none;
    
}
html{
    border: 10px solid rgba(77, 180, 56, 0.692);
    width: 99%;
    height: 98.4vh;
}
body{
    top: 45%;
    position: absolute;
    left: 45%;
    background-color: rgb(44, 54, 61);
    
    
}
#number{
    font-family: fantasy;
    display: grid;
    place-items: center;
    background-color: rgba(97, 15, 117, 0.616);
    border-radius: 40%;
    font-size: xx-large;

}

.container{
    border: 4px solid rgba(48, 47, 83, 0.829);
    box-shadow: 1px 1px 10px rgb(235, 217, 217);
    padding: 20px;
    border-radius: 5px ;
}